# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
**/venv/
**/.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log
